* {
    padding: 0;
    margin: 0;
    border: none;
    font-family: "Roboto", sans-serif;
  }
  
  .header {
    border-bottom: 1px solid #b2b2b2;
    padding: 20px 0 17px 0;
    border-top: 10px solid #2b3f8d;
  }